footer {
    width: 100%;
    height: 390px;
    padding: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;


    .foot-l {
        img {
            width: 300px;
            height: 100px;
        }

        ul {
            color: white;
            list-style-type: none;

            li {
                display: flex;
                gap: 5px;

            }
        }
    }

    .foot-c {
        padding-top: 85px;
        

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 5px;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .footer-r {
        h3 {
            color: white;
            font-size: 48px;
        }

        p {
            color: white;
            font-size: 20px;
        }

        .input-container {
            display: flex;

            input {
                width: 356px;
                height: 48px;
                background-color: black;
                border: none;
            }
            .send-btn{
                background-color: black;
                border: none;
                i{
                    color: white;
                }
            }
        }

    }
}